body {
  font-family: "Public Sans", sans-serif;
  background-color: #937dc2;
}
.card {
  display: block;
  margin: 0 auto;
  width: 700px;
  border-width: 5px;
  border-color: rgb(103, 64, 185);
  background-color: #f0e3ff;
}
.main-card {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.card .mb-3 {
  border-width: 0px;
}
.forecast {
  font-size: 24px;
  color: #c689c6;
}
.main-icon {
  font-size: 160px;
  color: #c689c6;
}
.search-bar {
  width: 350px;
}
.therm {
  color: #c689c6;
}
.signature {
  text-align: center;
}
.descriptor {
  text-transform: capitalize;
}
.btn {
  background-color: #e8a0bf;
  border-color: #e8a0bf;
}
.btn:hover {
  background-color: rgb(182, 128, 151);
  border-color: rgb(182, 128, 151);
}
